AMI/services/aa_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="aa"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="aaOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="aaOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="aaOperationRequest">
		<wsdl:part name="parameters" element="tns:aaOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="aaOperationResponse">
		<wsdl:part name="parameters" element="tns:aaOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="aaPortType">
		<wsdl:operation name="aaOperation">
			<wsdl:input message="tns:aaOperationRequest"></wsdl:input>
			<wsdl:output message="tns:aaOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="aaBinding" type="tns:aaPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="aaOperation">
			<soap:operation soapAction="http://www.talend.org/service/aaOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="aa">
		<wsdl:port name="aaPort" binding="tns:aaBinding">
			<soap:address location="http://localhost:8090/services/aa" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>